<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <title>My Blog</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/cosmo/bootstrap.min.css" />
    <script src= "https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" ></script>
    
</head>
<body>

	<h1>My Blog</h1>
	
	
	
	<a th:href="@{/new}">Add Post</a>	<br>
	
	<tbody>
	  <tr th:each="post:${posts}">
		 <div class="container mb-5">
		<h1><td th:text="${post.heading}">Heading</td></h1><br>
		<p><h4><td th:utext="${post.content}">Content</td></h4></p><br>
		<td th:text="${post.source}">Source</td>
		</div>
	  </tr>
	  
  </tbody>
	
</body>
</html>